/tmp
*.tmp
*.pyc
/dist/
/*.egg-info
.ipynb_checkpoints
__pycache__
.DS_Store
.vscode
examples/*.pdf
examples/*.png
examples/*.txt
examples/*.pickle
examples/test_dynamics_*
examples/test_dynamics*
examples/stattic*
examples/evo*
examples/modes
examples/paper
freegsnke/nonlinear_solve_*
freegsnke/plasma_grids*
freegsnke/newtonkrylov_*
machine_configs/_*
examples/example_nonlinear_evolution_diverted_*
docs/_build
docs/api
docs/notebooks