name: Notebooks Check

on:
  pull_request:
    branches:
      - main
    types: [labeled]

jobs:
  notebooks:
    strategy:
      fail-fast: false
    timeout-minutes: 60
    if: ${{ github.event.label.name == 'ready-for-final-tests' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: './.github/actions/cicd-setup'
      - name: Check build tokamak machine notebook
        run: jupyter nbconvert --execute --to notebook --inplace "examples/example00 - build_tokamak_machine.ipynb"
      - name: Check static inverse solve MAST-U notebook (1a)
        run: jupyter nbconvert --execute --to notebook --inplace "examples/example01a - static_inverse_solve_MASTU"
      - name: Check static inverse solve MAST-U notebook (1b)
        run: jupyter nbconvert --execute --to notebook --inplace "examples/example01b - advanced_static_inverse_solve"
      - name: Check static forward solve MAST-U notebook
        run: jupyter nbconvert --execute --to notebook --inplace "examples/example02 - static_forward_solve_MASTU.ipynb"
      - name: Check extracting equilibrium quantities notebook
        run: jupyter nbconvert --execute --to notebook --inplace "examples/example03 - extracting_equilibrium_quantites.ipynb"
      - name: Check using magnetic probes notebook
        run: jupyter nbconvert --execute --to notebook --inplace "examples/example04 - using_magnetic_probes.ipynb"
      - name: Check evolutive forward solve notebook
        run: jupyter nbconvert --execute --to notebook --inplace "examples/example05 - evolutive_forward_solve.ipynb"
      - name: Check static inverse solve SPARC notebook
        run: jupyter nbconvert --execute --to notebook --inplace "examples/example07 - static_inverse_solve_SPARC.ipynb"
      - name: Check virtual circuits MAST-U notebook
        run: jupyter nbconvert --execute --to notebook --inplace "examples/example09 - virtual_circuits_MASTU.ipynb"
      - name: Check growth rates notebook
        run: jupyter nbconvert --execute --to notebook --inplace "examples/example10 - growth_rates.ipynb"